<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
  <!--Paypal Enviroment Variables-->
  <add key="IsSandbox" value="true" />

  <add key="PaypalEndPointURL" value="https://api-3t.paypal.com/nvp" />
  <add key="Paypalhost" value="www.paypal.com" />

  <add key="PaypalEndPointURL_SB" value="https://api-3t.sandbox.paypal.com/nvp" />
  <add key="Paypalhost_SB" value="www.sandbox.paypal.com" />

  <add key="PayPalAPIUsername" value="meer_api1.animatestudioz.com" />
  <add key="PayPalAPIPassword" value="GR45HQ3JU4MTST8R" />
  <add key="PayPalAPISignature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AMs2TBVE5nN0YAHDO00ffl0l4749" />
  <add key="PayPalBNCode" value="PP-ECWizard" />
  <add key="PayPalTimeout" value="50000"/>
  <add key="PayPalreturnURL" value="http://localhost:11932/checkout/CheckoutComplete.aspx"/>
  <add key="PayPalcancelURL" value="http://localhost:11932/checkout/CheckoutCancel.aspx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
</configuration>